.App {
  border: 1px solid;
  margin: 16px;

  &-header,
  &-content,
  &-footer {
    border: 1px solid;
    margin: 16px;
  }

  .chart-wrapper {
    border: 1px solid;
    height: 400px;
    margin: 16px;
    width: 600px;
  }
}
